<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat da Burger</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css" media="screen" title="no title">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>

	{{{body}}}

	<!-- Custom Script -->
	<!--
		i'm commenting this out becuase api-routes is SERVER-SIDE code.
		you should not be expecting it to be accessible here (client-side).
	-->
	{{!-- <script src="../routes/api-routes.js" type="text/javascript"></script> --}}

</body>

</html>